body,html{
    height:100%;
}
body {
	background-color:#4c4c4c;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
}

.moving {
  	position :absolute;
  	animation: mymove 5s linear infinite;
	top: 30px;
	left: 100%;
	z-index: 50;
	width: 40px;
	height: 40px;
	background-color: #B7EFFF;
	border: 4px solid #D9D1FF;
	text-overflow: hidden;
	text-align: center;
}


@keyframes mymove {
0%  {  top: 30px; left: 100%; }
	10% { top: 100px; left: 90%;   }
	20% { top: −200px; left: 80%;   }
	30% { top: 100px; left: 70%;   
	width: 20px; height: 20px;
	border-width: 100px; 
}
	40% { top: −200px; left: 60%;  
	width: 200px; height: 200px;
	border-radius: 100%;
	border-width: 0px; 
}
	50% { top: 50px; left: 50%;   
	width: 20px; height: 20px;
	border-radius: 0%;
	border-width: 100px; 
}
	60% { top: −200px; left: 40%;   }
	70% { top: 200px; left: 30%;   }
	80% { top: -200px; left: 20%;   }
	90% { top: 500px; left: 10%;   }
	100% { top: 30px; left: -10%; }}

.sliding{
	position :absolute;
  	animation: mySecondMove 2s linear infinite;
  	top:40%;
  	left:100%;
  	width:200px;
  	height:200px;
  	background-color: #FFB1B1;
	}

@keyframes mySecondMove {
  0%{
  	left:100%;
  	opacity:0;
  	transform:rotate(0deg);
  	border-radius:0 30% 30% 0;
  	width:200px;
  	height:200px;}
  15%{
  	top:100%;
  	left:50%;
  	border-radius:30% 0% 30% 0;
   	width:150px;
  	height:150px;}
  100% {
  	left:0%;
  	top:20%;
  	opacity:1;
  	transform:rotate(180deg);
  	border-radius:30% 0% 0% 30%;
  	width:100px;
  	height:100px;}

}


.slidingUp{
	position :absolute;
  	animation: myThirdMove 2s linear infinite;
  	top:40%;
  	left:100%;
  	width:200px;
  	height:200px;
  	background-color:#FFD0A8;
	}

@keyframes myThirdMove {
  0%{
  	left:100%;
  	opacity:0;
  	transform:rotate(0deg);
  	border-radius:0 30% 30% 0;
  	width:200px;
  	height:200px;}
  15%{
  	top:0%;
  	left:50%;
  	border-radius:30% 0% 30% 0;
   	width:150px;
  	height:150px;}
  100% {
  	left:0%;
  	top:20%;
  	opacity:1;
  	transform:rotate(180deg);
  	border-radius:30% 0% 0% 30%;
  	width:100px;
  	height:100px;}

}



/*
.countdown{
     background-color:orange;
     width:50vh;
     height:50vh;
     position:absolute;
     display:block;
     margin:auto;
     color:red;
}
